extends layout

block content
  img(src=http://mappingonlinepublics.net/dev/wp-content/themes/LondonLive/thumb.php?src=http://mappingonlinepublics.net/dev/wp-content/uploads/2010/10/gexf.png&w=340&h=192&zc=1&q=100)