extends ../layout
block content
  div.row
    div.col-md-12
      h1= title
      p Create Graph
      form.form-inline(action='/nodes/new' method='post' role='form')
        div.form-group
          label(for='name') Nodes
          textarea(type='textarea' class='form-control' id='nodes' placeholder='Enter comma or newline separated node names' name='nodes')
          input(type='hidden' name='graph_id' value='#{graph_id}')
        br
        br
        button(type='submit' class='btn btn-default') Add Nodes
